[submodule "apex"]
	path = apex
	url = https://github.com/NVIDIA/apex.git
[submodule "TransformerEngine"]
	path = TransformerEngine
	url = https://github.com/NVIDIA/TransformerEngine.git
[submodule "flashinfer"]
	path = flashinfer
	url = https://github.com/flashinfer-ai/flashinfer.git
[submodule "flash-attention"]
	path = flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
[submodule "Megatron-Bridge"]
	path = Megatron-Bridge
	url = https://github.com/NVIDIA-NeMo/Megatron-Bridge.git
[submodule "DeepEP"]
	path = DeepEP
	url = https://github.com/deepseek-ai/DeepEP.git
[submodule "FlashMLA"]
	path = FlashMLA
	url = https://github.com/deepseek-ai/FlashMLA.git
[submodule "fast-hadamard-transform"]
	path = fast-hadamard-transform
	url = https://github.com/Dao-AILab/fast-hadamard-transform.git
